<footer class="contato" id="contato">
  <a href="mailto:jake.drawhorn@gmail.com" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    CONTACT
  </a>
  <ul class="list">
    <li class="list__item ">
      <a href="https://github.com/JacobDrawhorn"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://www.linkedin.com/in/jacob-drawhorn/"><i class="fab fa-linkedin fa-3x"></i></a>
    </li>
  </ul>
  &copy; Copyright 2022
</footer>
